#Q_cont {
    display: flex;
    min-height: 75vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    border-top: 1px solid var(--color-text-dark);
    border-bottom: 1px solid var(--color-text-dark);
}
section.Quotation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 20%;
}
section.Quotation > h1 {
    font-size: 42px;
    color: var(--color-text-dark);
    margin: 2rem;
}
section.Quotation > p {
    font-size: larger;
    color: var(--color-text-dark);
    line-height: 2rem;
}
section.Quotation > span {
    font-size: 20px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-top: 1px solid var(--color-text-dark);
}