@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Play:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color-text-light: #f3f6f9e7;
    --color-text-dark: #555555;
    --color-text-darkgreen: #3C463C;
    --color-btn-light: #F3F6F9;
    --color-orange: #F5821F;
    --color-gray-green: #595959;
    --color-darkgreen-logo: #28903A;
    --color-green-ui: #D5ECD5;
    --color-lightgreen-ui: #EBF3EB;
    /*--color-darkgreen-ui: #8DB88D; */
    --color-nav-dark: #1a1f1ac0;
    --color-darkgreen-ui: #6dbe6d; 


    --color-st-ss: #F5821F; 
    --color-nd-ss: #6dbe6d; 
    --color-rd-ss: #739a73;
    --color-th-ss: #aabd65;
    
    --color-bg: #fdfefe;
    --color-btn-orange-hover: #f1f3eb;
    --color-btn-light-hover: #d7d7d7;
    --color-btn-dark-hover: #6a6a6aa5;
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h3 {
    font-size: xx-large;
}
h4 {
    font-size: x-large;
}
h5 {
    font-size: larger;
}
h6 {
    font-size: large;
}